body{
	background: linear-gradient(-90deg, #63cdda, #f8a5c2);
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.container{
	width: 60%;
	margin: auto;
	margin-top: 65px;
}
.form{
	background: #ffffff;
	height: 510px;
	box-shadow: 0px 0px 140px #000;
	border-radius: 30px;
	margin:0% 23% 0% 23%;
}
.form h1{
	text-transform: uppercase;
	color: #57606f;
	font-weight: 600;
	padding-top: 50px;
	text-align: center;

}
.form h1 span{
	font-weight: 300;
}
form{
	margin: 0% 3% 0% 3%;
	margin-top: 40px;
}
form .username{
	margin-left: 30px;
	font-size: 20px;
	color:#303952;
	font-weight: 400;
}
form .username input{
	width: 90%;
	height: 25px;
	border-radius: 20px;
	border: 2px solid #596275;
	font-size:18px;
	font-weight: 200;
}
form .username input:hover{
	border: 2px solid #303952;
	
}
form .username input:focus{
	background-color: #2f3542;
	color:#fff;
}
form .email{
	margin-left: 30px;
	font-size: 20px;
	color:#303952;
	margin-top: 11px;
}
form .email input{
	width: 90%;
	height: 25px;
	border-radius: 20px;
	border: 2px solid #596275;
	font-size:18px;
	font-weight: 200;
}
form .email input:hover{
	border: 2px solid #303952;
	
}
form .email input:focus{
	background-color: #2f3542;
	color:#fff;
}
form .birthday{
	margin-left: 30px;
	font-size: 20px;
	color:#303952;
	margin-top: 11px;
}
form .birthday select{
	width: 100px;
	height: 30px;
	border-radius: 10px;
	border: 2px solid #596275;
}
form .birthday select:focus{
	background-color: #2f3542;
	color:#fff;
}
form .password{
	margin-left: 30px;
	font-size: 20px;
	color:#303952;
	margin-top: 11px;
}
form .password input{
	width: 90%;
	height: 25px;
	border-radius: 20px;
	border: 2px solid #596275;
	font-size:18px;
	font-weight: 200;
}
form .password input:hover{
	border: 2px solid #303952;
	
}
form .password input:focus{
	background-color: #2f3542;
	color:#fff;
}
form .button{
	 background-color: #2f3542;
	 height: 45px;
	 width: 90%;
	 margin-left: 19px;
	 border-radius: 20px;
	 margin-top: 45px;
	 font-size: 20px;
	 color:#fff;
	 transition: 0.5s;
}
form .button a{
	text-decoration: none;
	color:#fff;
	transition: 0.5s;
	
}
form .button:hover {
	background: #fff;

}
form .button a:hover{
	color:#2f3542;
}